body{
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}
.bod{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li{
    position: relative;
    left: 0px;
}
.headd{
    width: 250px;
    height: 50px;
    background-color: aliceblue;
    text-align: center;
    padding-bottom: 30px;
    margin-bottom: 40px;
}
.list{
    width: 250px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: aliceblue;

}
ul{
    margin: 0;
    padding-left: 18px;
}
li{
    margin: 10px;
}
form{
    padding-left: 18px;

}
input{
    border: 0px;
    background-color: aquamarine;
    height: 25px;
}
button{
    border-radius: 20rem;
    width: 2rem;
    height: 2rem;
    background-color: aqua;
    border: 0px;
}
hr{
    color: grey;
    opacity: 30%;
}